@font-face {
  font-family: authenticsans;
  src: url(../AUTHENTIC-Sans.woff);
}

* {
	box-sizing: border-box;
}

body {
	background: #FFCECB;
	color: #BlanchedAlmond;
	font-family: 'authenticsans';
	font-size: 12px;
}

li {
	padding: 3px;
	list-style-type: circle;
}

a:link {
	text-decoration: none;
	color: #BlanchedAlmond;
}

a:active {
	text-decoration: none;
	color: #BlanchedAlmond;
}

a:visited {
	text-decoration: none;
	color: #BlanchedAlmond;
}

a:hover {
	color: #BlanchedAlmond;
}

header, nav, main, footer {
	width: 80%;
	margin: auto;
}


/* Header styles */
header {
	background-color: #FFCECB;
	color: #3E65FF;
	min-height: 100px;
	margin-top: 60px;
}

header h1 {
	padding: 40px 60px;
	font-size: 48px;
	font-family: 'Nova Cut', cursive;
}


/* Nav styles */
nav { background-color: #FFCECB; }
nav ul {
	display: flex;
	justify-content: flex-end;
}
nav li { padding: 10px 10px;
  list-style-type: none;
}
nav a { color: #FF3E3E; }
nav a:hover { color: white; }


/* Main styles */
main {
	background-color: #FFCECB;
	display: grid;
	grid-template-columns: 60% 40%;
	color: #FF3E3E;
}

main a { color: #FF3E3E; }
main a:hover { color: white; }

section {
	padding: 40px 60px;
}

section ul, aside ul {
	list-style-type: square;
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 40px;
}

aside {
	padding: 40px 10px;
}

/* Footer styles */
footer {
	background-color: #FFCECB;
	color: #3E65FF;
	text-align: center;
 }
 footer p { padding: 20px; }
