h1 {
	font-family: 'Work Sans';
	src: url(/hw1-narrative/WorkSans-Regular.ttf);
	font-size: 48px;
	color: #fff;
	text-align: center;
}

h2 {
	font-family: 'Work Sans';
	src: url(/hw1-narrative/WorkSans-Regular.ttf);
	font-size: 48px;
	color: #fff;
	text-align: center;
	margin-top: 25px;
}

body {
	font-family: 'Work Sans';
	src: url(/hw1-narrative/WorkSans-Regular.ttf);
	font-size: 15px;
	color: #fff;
	text-align: center;
	padding-top: 35px;
	background-image: url('http://sarahnason.github.io/images/5623285708_818a259bde_3k.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

img {
	padding: 25px;
}

a:link {
  color: #fff;
	text-decoration: none;
}

a:visited {
  color: #fff;
	text-decoration: none;
}

a:active {
  color: #fff;
	text-decoration: none;
}
